@font-face {
    font-family: 'Metric'; /*a name to be used later*/
    src: url('Metric-Font/MetricApp-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MetricBold'; /*a name to be used later*/
    src: url('Metric-Font/MetricApp-Bold.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'MetricLight'; 
	src: url('Metric-Font/MetricApp-Light.ttf');
}

body { 
	font-family: "Metric";
	font-size: 30px;
	text-align: center;
	background-color: #C6C9CA;
 }

b {
	font-family: "MetricBold";
}

#subtitle { 
	font-family: 'MetricLight';
    font-size: 20px;
}


/*
*************************************
          Copyright 2014
             benague
*************************************
*/
/* button CSS */
#buttons {
  text-align: left;
}

/* start da css for da buttons */
.btn {
  border: none;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


.green {
  background-color: #01a982;
}

.green:hover {
  background-color: #016c53;
}

.numberInput {
	padding: 15px 20px;
	font-size: 22px;
	border: none;
}
